extends layout

block content
  //h1= title
  //p Welcome to #{title}
  div
    div.container
      div.header.clearfix
        div.jumbtron
          h1.text-center='Dina Berry'
          h2.text-center='Programmer, Writer'
          div.row.text-center
              a(href='mailto:dina@dfberry.io') 
                #email.fa.fa-envelope-o
                  &nbsp;&nbsp;dina@dfberry.io
          div.row.text-center                  
              a(href='http://www.twitter.com/dfberry') 
                #twitter.fa.fa-twitter
              a(href='https://www.linkedin.com/pub/dina-berry/8/7a3/129') 
                #twitter.fa.fa-linkedin-square
              a(href='http://www.github.com/dfberry/') 
                #twitter.fa.fa-github-alt 
              a(href='http://www.31a2ba2a-b718-11dc-8314-0800200c9a66.com/') 
                #twitter.fa.fa-rss  
              