doctype html
html
  head
    title= title
    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Dina Fleet Berry, programmer, writer')
    meta(name='author', content='@dfberry')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/dfberry-io.css')
  body
    block content
script(src='/javascripts/jquery-2.1.4.min.js')
script(src='/stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js')