.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  text-align: center;
}
.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #696969;
  margin-right: 10px;

}
.container {
  background: #D3D3D3;
}
.fa{
  margin-top: 20px;
  font-size: 30px;  
}