<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
        <title>GeoZip</title>
    </head>
    <body ng-app="GeoZip">
        <div >
            <div class="row" ng-controller="GeozipController">
                <div class="col-sm-4" style="background-color:grey">
                    <div  class="form-group"  items="fields">
                        
                        <div ng-model="fields">
                            <div ng-repeat="(key, data) in fields">
                                <input name="FIELD" type="radio" ng-click="(setSearchField(key))">{{data}}<br/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div><textarea ng-model="searchTerm"></textarea></div>
                        <div class="btn btn-default" ng-click="search()">Search</div>
                    </div>
                </div>
                <div class="col-sm-6" style="background-color:blue">
                    <div  >
                        <div>Results</div>
                        <div ng-repeat="item in searchResults">
                            <li class="list-group-item" ng-repeat="(key, data) in item" >{{key}}: {{data}}
    
                        </div>
                    </div>                        
                </div>
            </div>
        </div>    
        
                             

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/Services/GeozipService.js"></script>
        <script src="app/Controllers/GeozipController.js"></script>
    </body>
</html>