<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="stylesheets/dfberry-io.css">
        <title>GeoZip</title>
    </head>
    <body ng-app="GeoZip" >
        <div >
            <div class="row" ng-controller="GeozipController">
                <div class="col-sm-2" style="background-color:ltgrey">
                    <div  class="form-group"  items="fields">
                        
                        <div ng-model="fields">
                            <div ng-repeat="(key, data) in fields">
                                <input name="FIELD" type="radio" ng-click="(setSearchField(key))">{{data}}<br/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div><textarea ng-model="searchTerm"></textarea></div>
                        <div class="btn btn-default" ng-click="search()">Search</div>
                    </div>
                </div>
                <div class="col-sm-10" style="background-color:yellow">
                    <div class="label label-default">Results: {{searchResults.length}}</div>
                    <div class="row">
                        <div>#</div>
                        <div class="col-sm-1">Country</div> 
                        <div class="col-sm-1">Postal Code</div>
                        <div class="col-sm-1">City</div>
                        <div class="col-sm-1">State</div>
                        <div class="col-sm-2">County</div>
                        <div class="col-sm-1">Lat</div>           
                        <div class="col-sm-1">Long</div> 
                    </div>
                    <div class="row" ng-repeat="item in searchResults">
                        <div>{{$index + 1}}</div>
                        <div class="col-sm-1">{{item["FIELD1"]}}</div> 
                        <div class="col-sm-1">{{item["FIELD2"]}}</div>
                        <div class="col-sm-1">{{item["FIELD3"]}}</div>
                        <div class="col-sm-1">{{item["FIELD4"]}}</div>
                        <div class="col-sm-2">{{item["FIELD6"]}}</div>
                        <div class="col-sm-1">{{item["FIELD10"]}}</div>           
                        <div class="col-sm-1">{{item["FIELD11"]}}</div>  
                            <!--<div class="col-sm-1" ng-repeat="(key, data) in item">{{data}}</div>-->
                    </div>
                </div>
            </div>
        </div>    
        
                             

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/Services/GeozipService.js"></script>
        <script src="app/Controllers/GeozipController.js"></script>
    </body>
</html>