$orange: #f57020; //Umbraco's orange
$green: #53a93f; //Umbraco's green button color
$blue: #049cdb; //Umbraco's blue nav tab hover color
$active: lighten($green, 50%);
$selected: lighten($blue, 50%);
$warning: lighten($orange, 40%);